website-analyzer.json
{
  "name": "project",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        -112
      ],
      "id": "4206ca5e-9084-419e-ac34-3bec73f349ef",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "={{ $('Get row(s) in sheet').item.json.URL }}",
        "options": {
          "allowUnauthorizedCerts": true,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          },
          "timeout": 10000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -48,
        -112
      ],
      "id": "c61785e0-db88-436e-9fb1-7f8408974311",
      "name": "HTTP Request",
      "retryOnFail": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1k7o6ohAXgAuyJrmxygJO5k3UZgnJp7dViFE8m09hwt4",
          "mode": "list",
          "cachedResultName": "webhook",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k7o6ohAXgAuyJrmxygJO5k3UZgnJp7dViFE8m09hwt4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1k7o6ohAXgAuyJrmxygJO5k3UZgnJp7dViFE8m09hwt4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -272,
        -112
      ],
      "id": "f947b197-5a6b-4b2a-89bf-2d1f621d05b0",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uhzT3DGgk9cIYN9S",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 500,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    },
                    "id": "cfd29f0c-799a-4b40-9582-7b0a38b42cdb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": " Server Crash (5xx)"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "019566a0-5e9f-4310-8803-2002b2dcd761",
                    "leftValue": "={{ $json.statusCode }}",
                    "rightValue": 400,
                    "operator": {
                      "type": "number",
                      "operation": "gte"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Client Error (4xx)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        176,
        -128
      ],
      "id": "a7872233-323f-4725-8089-27f375a226e6",
      "name": "Switch"
    },
    {
      "parameters": {
        "sendTo": "= {{ $('Get row(s) in sheet').item.json['Reporting Email'] }}",
        "subject": "=Website Crashed with Status {{ $json.statusCode }}",
        "emailType": "text",
        "message": "=Dear Team,\nA website issue has been detected.URL: {{ $('Get row(s) in sheet').item.json.URL }}\nStatus Code: {{ $('HTTP Request').item.json.statusCode }}\nStatus Message: {{ $('HTTP Request').item.json.statusMessage }}\nChecked At: {{ $('HTTP Request').item.json.headers.date }} GMT\nPlease investigate the issue.Regards,Monitoring System",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        -144
      ],
      "id": "d838e8fc-ceb2-41e4-b30a-6af2a9dae66d",
      "name": "Server Crash",
      "webhookId": "c7133a3c-2a1a-4594-90c3-f8b7328ff108",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q2zmsLkQ8DPrH8cd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $('Get row(s) in sheet').item.json['Reporting Email'] }}",
        "subject": "=Website Issue-->STatus Code {{ $json.body.error.code }}",
        "emailType": "text",
        "message": "=Dear Team,\nWebsite URL:  {{ $('Get row(s) in sheet').item.json.URL }}\nStatus Code:  {{ $('HTTP Request').item.json.body.error.code }}\nMessage: {{ $('HTTP Request').item.json.body.error.message }}\nChecked At:  {{ $('HTTP Request').item.json.headers.date }} GMT\nPlease review at your convenience.\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        448,
        80
      ],
      "id": "b84ba2d6-a026-4bb6-afe8-2f1e15b239f3",
      "name": "Client Error",
      "webhookId": "9c0689f0-06d1-44f0-953e-8146982c1d69",
      "credentials": {
        "gmailOAuth2": {
          "id": "Q2zmsLkQ8DPrH8cd",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "975449352317486",
        "recipientPhoneNumber": "=+{{ $('Get row(s) in sheet').item.json.Whatsapp }}",
        "textBody": "=Website  ran in an issue\nUrl: {{ $('Get row(s) in sheet').item.json.URL }}\nStatus: {{ $json.statusCode }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1.1,
      "position": [
        448,
        -304
      ],
      "id": "4582bfee-c5a9-40c3-93d0-6eaa7cadbdf4",
      "name": "Send message",
      "webhookId": "ba7766ca-9a5d-4d9d-bd09-5e232eb5e8bf",
      "credentials": {
        "whatsAppApi": {
          "id": "Msj6tnEeuKakmjha",
          "name": "WhatsApp account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Server Crash",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Client Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3122e8d3-b4e9-4f5b-acd1-aac37485dfe9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0d53f6460f8348b77fb7efd2dac991d8fb3ae77e5237fa2fed65bdb3cf589ac7"
  },
  "id": "Zv0gL_9Fxz7zrK9EQ99lK",
  "tags": []
}